# encoding=utf-8

import fastspider


class {{spider_class_name}}(fastspider.Spider):

    start_urls = ["http://www.baidu.com"]

	def start_requests(self):
	    for url in self.start_urls:
	        yield fastspider.Request(url)

	def parser(self, request, response):
	    print(response.text)


if __name__ == "__main__":
    {{spider_class_name}}().start()
